@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Baloo Bhai 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Baloo Bhai 2', cursive;
}


:root {
  --color-1: #1F4068;
  --color-2: #162447;
  --color-3: #1b1b2f;
  --color-4: #e43f5a;
}


